* {
    padding: 0;
    margin: 0;
}

header {
    background-size: cover;
    width: 100%;
    background-image: url(./img/banner.jpg);
}

nav {
    display: flex;
    justify-content: space-between;
}

nav div img {
    border-radius: 40px;
    box-shadow: white 1px 1px 10px 3px;
    scale: .6;
}

nav div h5 {
    color: white;
    text-shadow: rgb(12, 193, 253) 2px 1px, red 2px 2px;
}

nav div h5, nav div div a {
    padding-top: 25px;
}

nav div {
    display: flex;
    justify-content: space-around;
}

#items {
    padding: 0;
}

#items div {
    margin-right: 50px;
    font-weight: 500;
}

#items div a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: rgb(12, 193, 253) 2px 1px, red 2px 2px;
    transition: .2s;
}

#items div a:hover {
    scale: 1.8;
}

@media screen and (max-width: 1600px) {
    #items div {
        padding-right: 0;
    }
}

@media screen and (max-width:1200px){ 
    #perf {
        margin-top: -250px;
    }
    #banner {
        scale: .7;
    }
    #items div #log {
        margin-right: 0px;
    }
}

@media screen and (max-width:977px){
    #banne {
        scale: .8;
        margin-bottom: -100px;
    }
}

#banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#banner div img {
    border-radius: 100%;
    z-index: 1;
    width: 100%;
    scale: .8;
}


#info {
    color: white;
    padding-right: 15px;
}

#info h2 {
    font-size: 90px;
    width: 100%;
    color: rgb(255, 255, 255);
    text-shadow: rgb(12, 193, 253) 2px 1px, red 2px 2px;
}

#experiencia {
    background-color: rgb(27, 27, 27);
    color: white;
}

#exp h2 {
    width: 100%;
    text-shadow: rgb(12, 193, 253) 2px 1px, red 2px 2px;
    font-size: 50px;
}

#textexp {
    font-size: 30px;
    padding: 0;
}

#drop {
    display: none;
}

@media screen and (max-width:784px) {
    #largo {
        display: none;
    }
    #drop {
        display: flex;
    }
    #items div a:hover {
        scale: 1;
    }
}

.dropdown-toggle::after {
    display: none;
}
